
div{
    width : 50px;
    height : 50px;
    margin : 20px;
    background-color: pink;
    font-family: verdana;
  
    display : block;
}
.box {
    background-color: blanchedalmond;
    top : 30px;
    left : 50px;
    position : sticky;
}
.container{
    background-color : gainsboro;
    left : 50px;
    top : 100px;
    position : relative;
}
